# --- 기본 Node.js ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Next.js ---
.next/
out/
.vercel/
.env
.env.*

# --- Prisma ---
prisma/dev.db
prisma/*.db-journal
prisma/migrations/

# --- Build 결과물 ---
dist/
build/

# --- 로그 파일 ---
*.log

# --- OS/IDE 관련 ---
.DS_Store
*.swp
*.swo
.vscode/
.idea/

# --- 기타 캐시 ---
.cache/
.next.cache/
/src/generated/prisma
